<h1>LOGIN</h1>
<form action='/auth/login' method='POST'>
  <input type='email' name='email' placeholder='email' />
  <input type='text' name='password' placeholder='password' />
  <input type='submit' value='Login!' />
</form>
<br>
<a href='/auth/register'>No tengo cuenta, quiero registrarme.</a>