<h1>Perfil de {{user.firstName}}</h1>
<h2>Email:</h2>
<p>{{user.email}}</p>
<h2>Credenciales:</h2>
{{#if user.isAdmin}}
    <p>Administrador</p>
    <a href='/users'>Data restringida para Administrador<a>
{{else}}
    <p>Usuario</p>
{{/if}}
{{#if user.isPremium}}
    <p>Premium</p>
{{/if}}
<br><br>
<h3><a href="/products">Volver</a></h3>
<a href='/auth/logout'>Cerrar sesión</a>