<h1>REGISTER</h1>
<form action='/auth/register' method='POST'>
  <input type='text' name='firstName' placeholder='firstName' />
  <input type='text' name='lastName' placeholder='lastName' />
  <input type='number' name='age' placeholder='age' />
  <input type='email' name='email' placeholder='email' />
  <input type='text' name='password' placeholder='password' />
  <input type='submit' value='Registrarse!' />
</form>
<br>
<a href='/auth/login'>Ya tengo una cuenta!</a>