<div class="ticket">
    <h1 class="ticket__title">Detalle de la compra:</h1>
    <div class="ticket__info">
        <ul class="info__list">
            <li class="list__item">Código de la compra: {{purchase.code}}</li>
            <li class="list__item">Comprador: {{purchase.purchaser}}</li>
            <li class="list__item">Valor final: {{purchase.amount}}</li>
        </ul>
    </div>
    <button><a href="/products">Volver a página principal</a></button>
</div>